/*styles go here*/
body{
  text-align: center;
	background-color: #EAF2F8  ;
}

p {
	color: black;
  font-family: 'Arimo', sans-serif;
  font-size: 0.9em;
}

.italic {
	font-style: italic;
	font-weight: bold;
}

.normal {
  font-style: normal;
}

h1 {
	font-family: 'Merriweather Sans', sans-serif;
  color: black;
  font-size: 45px;
  font-style: normal;
}

h2 {
  font-size: 25px;
  color: black;
  font-style: normal;
}

h3 {
  color: black;
  font-family: 'Tinos', serif;
  /* text-align: center; */
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}

.container {
  width: 95%;
  margin: auto;
}

#nav {
list-style-type: none;
padding: 0;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
    line-height: 1.5rem;
}

#nav a:link, #nav a:visited {
  text-decoration: none;
  color: #E67E22;
  background-color: #F5EEF8;
  font-weight: bold;
  font-size: 17px;
  /* text-align: center; */
  display: block;
	font-family: Helvetica, Arial, sans-serif;
	padding: 4px;
}

/* #nav a:active- the state when it is actually clicked on */
#nav a:hover, #nav a:active {
	background-color: #F9E79F;
}

.caption {
	font-family:Georgia, "Times New Roman", serif;
	color: black;
	font-style: italic;
	font-size:0.8em;
	margin-top: 0;
	text-align: right;
}

#footer {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
	font-size:0.8em;
	border-top: 1px solid black;
}

img {
  display: block;
	border: none;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
